/* You can add global styles to this file, and also import other style files */

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fffff8;
    font-family: "Hack", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111111;
}
