:host {
    display: block;
    padding-top: 20px;
    margin-top: 50px;
}

.label {
    width: 150px;
    float: left;
    margin: 0;
    padding: 6px 0 7px 0;
    position: sticky;
    top: 10px;
    font-size: 16px;
    font-family: var(--font-avenir-next);
}

.vars {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(1fr);
    align-content: start;
    justify-content: start;
    align-items: center;
    justify-items: start;
    column-gap: 30px;
    row-gap: 0;
}

.var-prop {
    grid-column-start: 1;
    font-size: var(--text-size);
    line-height: var(--text-leading);
    font-family: var(--font-avenir-next);
}

.var-vals {
    grid-column-start: 3;
    display: flex;
    align-items: center;
}

.vals {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dotted #c4c4c4;
}

.var-new:hover ~ .vals {
    border-bottom-style: solid;
}

.val {
    font-size: var(--text-size);
    line-height: var(--text-leading);
}

.val + .val {
    margin-left: 20px;
}

.var-unit {
    font-size: 10px;
    margin-left: 3px;
}

.var-new {
    grid-column-start: 2;
    display: flex;
}

.var-new input {
    background-color: transparent;
    background-color: var(--color-ayu-petrol-hover);
    border: 5px solid var(--color-ayu-petrol-light);
    border-right: none;;
    margin: 0;
    padding: 0;
    font-family: Hack;
    color: var(--color-ayu-birch);
    outline: none;
}

.var-new button {
    display: block;
    width: 25px;
    height: 25px;
    color: var(--color-ayu-birch);
    background-color: var(--color-ayu-petrol-light);
    border: none;
    text-align: center;
    line-height: 20px;
    border-radius: 0 3px 3px 0;
    font-family: var(--font-avenir-next);
    outline: none;
    cursor: pointer;
}

.var-new button:hover {
    background-color: var(--color-ayu-petrol-hover);
}