:host {
    display: block;
    padding-top: 10px;
}

.label {
    width: 10%;
    float: left;
    margin: 0 0 0 -12.5%;
    padding: 6px 0 7px 0;
    position: sticky;
    top: 10px;
    font-size: 16px;
    font-family: var(--font-avenir-next);
}

.vars {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(1fr);
    align-content: start;
    justify-content: start;
    align-items: center;
    justify-items: start;
    column-gap: 30px;
    row-gap: 0;
}

.var-prop {
    grid-column-start: 1;
    font-size: 12px;
    line-height: 14px;
    font-family: var(--font-avenir-next);
}

.var-vals {
    grid-column-start: 3;
    display: flex;
    align-items: center;
}

.vals {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dotted #c4c4c4;
}

.var-new:hover ~ .vals {
    border-bottom-style: solid;
}

.val {
    font-size: 12px;
}

.val + .val {
    margin-left: 20px;
}

.var-unit {
    font-size: 10px;
    margin-left: 3px;
}

.var-new {
    grid-column-start: 2;
    display: flex;
}

.var-new input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    margin: 0;
    padding: 5px 0;
    font-family: Hack;
    outline: none;
}

.var-new button {
    display: block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    text-align: center;
    line-height: 20px;
    border-radius: 0 3px 3px 0;
    font-family: var(--font-avenir-next);
    outline: none;
}

.var-new button:hover {
    background-color: var(--color-light-grey);
    box-shadow: 0 0 4px 0 #E5E5E5;
}