<div class="declarations">

    <div class="prop-label">&nbsp;</div>
    <div class="prop-label">letter-spacing</div>
    <div class="prop-label">text-align</div>

    <ng-container *ngFor="let node of (nodes$ | async)">
        
        <app-node [selector]="node.selector"></app-node>
        
        <app-declaration (onUpdate)="update($event, node, 'letterSpacing')" [values]="letterSpacingValues" [initialValue]="node.declarations.text.letterSpacing" prop="letter-spacing"></app-declaration>
        <app-declaration (onUpdate)="update($event, node, 'textAlign')" [values]="textAlignValues" [initialValue]="node.declarations.text.textAlign" prop="text-align"></app-declaration>
    
    </ng-container>

</div>