:host {
    display: block;
}

.declarations {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-content: start;
    justify-content: start;
    align-items: start;
    justify-items: start;
    column-gap: 30px;
    row-gap: 10px;
}

.prop-label {
    width: 100%;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: var(--text-size);
    line-height: var(--text-leading);
    font-family: var(--font-avenir-next);
    position: sticky;
    top: 0;
    background-color: var(--color-ayu-petrol);
}

app-node {
    grid-column-start: 1;
}
