<div class="declarations">

    <div></div>
    <div class="prop-label">font-family</div>
    <div class="prop-label">font-size</div>
    <div class="prop-label">font-style</div>
    <div class="prop-label">font-variant</div>
    <div class="prop-label">font-weight</div>
    <div class="prop-label">line-height</div>

    <ng-container *ngFor="let baseElement of (baseElements$ | async)">
        <app-node [selector]="baseElement.selector"></app-node>
        <app-declaration [prop]="baseElement.declarations.fonts.fontFamily" [values]="fontFamilyValues" class="font-family"></app-declaration>
        <app-declaration [prop]="baseElement.declarations.fonts.fontSize" [values]="fontSizeValues" class="font-size"></app-declaration>
        <app-declaration [prop]="baseElement.declarations.fonts.fontStyle" [values]="fontStyleValues" class="font-style"></app-declaration>
        <app-declaration [prop]="baseElement.declarations.fonts.fontVariant" [values]="fontVariantValues" class="font-variant"></app-declaration>
        <app-declaration [prop]="baseElement.declarations.fonts.fontWeight" [values]="fontWeightValues" class="font-weight"></app-declaration>
        <app-declaration [prop]="baseElement.declarations.fonts.lineHeight" [values]="lineHeightValues" class="line-height"></app-declaration>
    </ng-container>
    
    <!-- <app-node selector="body"></app-node>
    <div class="declaration font-family">sans-serif</div>
    <div class="declaration font-size">16px</div>
    <div class="declaration font-style">normal</div>
    <div class="declaration font-variant">normal</div>
    <div class="declaration font-weight">normal</div>
    <div class="declaration line-height">normal</div>
    
    <app-node selector="article"></app-node>
    <div class="declaration inherited font-family">sans-serif</div>
    <div class="declaration inherited font-size">16px</div>
    <div class="declaration inherited font-style">normal</div>
    <div class="declaration inherited font-variant">normal</div>
    <div class="declaration inherited font-weight">normal</div>
    <div class="declaration inherited line-height">normal</div>

    <app-node selector="aside"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="footer"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="header"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h1"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h2"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h3"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h4"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h5"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h6"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="hgroup"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="main"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="nav"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="section"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="blockquote"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dir"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="div"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dl"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dt"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dd"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="figure"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="figcaption"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="hr"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="ol"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="li"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="p"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="pre"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="ul"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="li"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div> -->

</div>