:host {
    display: block;
}

nav {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    padding-top: 10px;
    background-color: var(--color-white);
}

nav a {
    display: flex;
    padding: 6px 10px;
    text-decoration: none;
    font-family: var(--font-avenir-next);
    font-size: var(--text-size);
    line-height: var(--text-leading);
    color: var(--color-black);
    border: 1px solid var(--color-light-grey);
}

nav a:hover {
    background-color: var(--color-yellow);
}

nav a:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

nav a:last-child {
    border-radius: 0 5px 5px 0;
}

nav a.is-selected {
    background-color: var(--color-yellow);
    cursor: default;
}