<div class="declarations">

    <div></div>
    <div class="prop-label">font-family</div>
    <div class="prop-label">font-size</div>
    <div class="prop-label">font-style</div>
    <div class="prop-label">font-variant</div>
    <div class="prop-label">font-weight</div>
    <div class="prop-label">line-height</div>

    <ng-container *ngFor="let baseElement of (baseElements$ | async)">
        <app-node [selector]="baseElement.selector"></app-node>
        <div class="declaration font-family">
            <select [name]="baseElement.declarations.fonts.fontFamily" [id]="baseElement.id">
                <option *ngFor="let fontFamily of (fontFamilies$ | async)">{{ fontFamily.value }}</option>
            </select>
        </div>
        <div class="declaration font-size">
            <select [name]="baseElement.declarations.fonts.fontSize" [id]="baseElement.id">
                <option *ngFor="let fontSize of (fontSizes$ | async)">{{ fontSize.value }}</option>
            </select>
        </div>
        <div class="declaration font-style">
            <select [name]="baseElement.declarations.fonts.fontStyle" [id]="baseElement.id">
                <option *ngFor="let fontStyle of (fontStyles$ | async)">{{ fontStyle.value }}</option>
            </select>
        </div>
        <div class="declaration font-variant">
            <select [name]="baseElement.declarations.fonts.fontVariant" [id]="baseElement.id">
                <option *ngFor="let fontVariant of (fontVariants$ | async)">{{ fontVariant.value }}</option>
            </select>
        </div>
        <div class="declaration font-weight">
            <select [name]="baseElement.declarations.fonts.fontWeight" [id]="baseElement.id">
                <option *ngFor="let fontWeight of (fontWeights$ | async)">{{ fontWeight.value }}</option>
            </select>
        </div>
        <div class="declaration line-height">
            <select [name]="baseElement.declarations.fonts.lineHeight" [id]="baseElement.id">
                <option *ngFor="let lineHeight of (lineHeights$ | async)">{{ lineHeight.value }}</option>
            </select>
        </div>
    </ng-container>
    
    <!-- <app-node selector="body"></app-node>
    <div class="declaration font-family">sans-serif</div>
    <div class="declaration font-size">16px</div>
    <div class="declaration font-style">normal</div>
    <div class="declaration font-variant">normal</div>
    <div class="declaration font-weight">normal</div>
    <div class="declaration line-height">normal</div>
    
    <app-node selector="article"></app-node>
    <div class="declaration inherited font-family">sans-serif</div>
    <div class="declaration inherited font-size">16px</div>
    <div class="declaration inherited font-style">normal</div>
    <div class="declaration inherited font-variant">normal</div>
    <div class="declaration inherited font-weight">normal</div>
    <div class="declaration inherited line-height">normal</div>

    <app-node selector="aside"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="footer"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="header"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h1"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h2"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h3"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h4"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h5"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="h6"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="hgroup"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="main"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="nav"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="section"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="blockquote"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dir"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="div"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dl"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dt"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="dd"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="figure"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="figcaption"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="hr"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="ol"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="li"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="p"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="pre"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="ul"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div>
    <app-node selector="li"></app-node>
    <div class="declaration inherited">Arial,sans-serif</div> -->

</div>