<app-header-bar></app-header-bar>

<router-outlet></router-outlet>

<!-- <div class="tabs">
    <app-pill label="Animations"></app-pill>
    <app-pill label="Backgrounds and Borders"></app-pill>
    <app-pill label="Box Alignment"></app-pill>
    <app-pill label="Basic User Interface"></app-pill>
    <app-pill label="Color"></app-pill>
    <app-pill label="Counter Styles"></app-pill>
    <app-pill label="Custom Properties for Cascading Variables"></app-pill>
    <app-pill label="Device Adaption"></app-pill>
    <app-pill label="Exclusions"></app-pill>
    <app-pill label="Fonts"></app-pill>
</div>
<div class="previews">
    <app-preview width="width: 320px"></app-preview>
</div>-->