<div class="declarations">

    <div class="prop-label">&nbsp;</div>
    <div class="prop-label">font-family</div>
    <div class="prop-label">font-size</div>
    <div class="prop-label">font-style</div>
    <div class="prop-label">font-variant</div>
    <div class="prop-label">font-weight</div>
    <div class="prop-label">line-height</div>

    <ng-container *ngFor="let node of (nodes$ | async)">
        
        <app-node [selector]="node.selector" [ngStyle]="{'marginLeft': (node.level * 30) + 'px'}"></app-node>
        
        <app-declaration (onUpdate)="update($event, node, 'fontFamily')" [values]="fontFamilyValues" [initialValue]="node.declarations.fonts.fontFamily" prop="font-family"></app-declaration>
        <app-declaration (onUpdate)="update($event, node, 'fontSize')" [values]="fontSizeValues" [initialValue]="node.declarations.fonts.fontSize" prop="font-size" unit="px"></app-declaration>
        <app-declaration (onUpdate)="update($event, node, 'fontStyle')" [values]="fontStyleValues" [initialValue]="node.declarations.fonts.fontStyle" prop="font-style"></app-declaration>
        <app-declaration (onUpdate)="update($event, node, 'fontVariant')" [values]="fontVariantValues" [initialValue]="node.declarations.fonts.fontVariant" prop="font-variant"></app-declaration>
        <app-declaration (onUpdate)="update($event, node, 'fontWeight')" [values]="fontWeightValues" [initialValue]="node.declarations.fonts.fontWeight" prop="font-weight"></app-declaration>
        <app-declaration (onUpdate)="update($event, node, 'lineHeight')"[values]="lineHeightValues" [initialValue]="node.declarations.fonts.lineHeight" prop="line-height"></app-declaration>
    
    </ng-container>

</div>