<div class="declarations">

    <div class="prop-label">&nbsp;</div>
    <div class="prop-label">font-family</div>
    <div class="prop-label">font-size</div>
    <div class="prop-label">font-style</div>
    <div class="prop-label">font-variant</div>
    <div class="prop-label">font-weight</div>
    <div class="prop-label">line-height</div>

    <ng-container *ngFor="let baseElement of (baseElements$ | async)">
        <app-node [selector]="baseElement.selector"></app-node>
        
        <app-declaration (onUpdate)="updateElement($event, baseElement, 'fontFamily')" [values]="fontFamilyValues" [initialValue]="baseElement.declarations.fonts.fontFamily"></app-declaration>
        <app-declaration (onUpdate)="updateElement($event, baseElement, 'fontSize')" [values]="fontSizeValues" [initialValue]="baseElement.declarations.fonts.fontSize"></app-declaration>
        <app-declaration (onUpdate)="updateElement($event, baseElement, 'fontStyle')" [values]="fontStyleValues" [initialValue]="baseElement.declarations.fonts.fontStyle"></app-declaration>
        <app-declaration (onUpdate)="updateElement($event, baseElement, 'fontVariant')" [values]="fontVariantValues" [initialValue]="baseElement.declarations.fonts.fontVariant"></app-declaration>
        <app-declaration (onUpdate)="updateElement($event, baseElement, 'fontWeight')" [values]="fontWeightValues" [initialValue]="baseElement.declarations.fonts.fontWeight"></app-declaration>
        <app-declaration (onUpdate)="updateElement($event, baseElement, 'lineHeight')"[values]="lineHeightValues" [initialValue]="baseElement.declarations.fonts.lineHeight"></app-declaration>
    
    </ng-container>

</div>