:host {
    font-size: var(--text-size);
    line-height: var(--text-leading);
    cursor: pointer;
    position: relative;
}

.value:hover {
    position: relative;
    /* z-index: 2; */
}

.unit {
    font-family: var(--font-avenir-next);
    font-size: 10px;
    line-height: 10px;
}

/* .value:hover:before {
    content: 'font-family:';
    display: block;
    padding: 5px;
    right: calc(100%);
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    top: -5px;
    background-color: var(--color-yellow);
} */

/* .value:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 3px;
    background-color: var(--color-yellow);
} */

ul.value-overlay {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
    background-color: var(--color-ayu-petrol-light);
    /* box-shadow: var(--effect-box-shadow); */
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 3px;
}

ul.value-overlay > li {
    white-space: nowrap;
    padding: 5px 5px;
    position: relative;
    font-size: var(--text-size);
    line-height: var(--text-leading);
}

ul.value-overlay > li:hover {
    background-color: var(--color-ayu-petrol-hover);
}

ul.value-overlay > li:hover:before {
    content: attr(title)':'; /* TODO: should you data attribute instead */
    display: block;
    padding: 5px 0 5px 5px;
    right: 100%;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    top: 0;
    background-color: var(--color-ayu-petrol-hover);
}
