:host {
    display: block;
    font-size: var(--text-size);
    line-height: var(-text-leading);
    font-weight: bold;
    margin-left: 15px;
    margin-right: 50px;
    position: relative;
    white-space: nowrap;
}

.circle {
    display: block;
    float: left;
    width: 7px;
    height: 7px;
    background-color: var(--color-ayu-petrol-light);
    border-radius: 90%;
    margin-top: 3px;
    margin-right: 15px;
}

/* .children {
    margin-top: 10px;
    margin-left: 15px;
} */