:host {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 50px;
    position: relative;
}

:host:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background-color: #111111;
    border-radius: 90%;
    position: absolute;
    top: 3px;
    left: -15px;
}

/* .children {
    margin-top: 10px;
    margin-left: 15px;
} */